


<ion-header>
    <ion-toolbar #navBar hideBackButton>
      <ion-buttons left><button ion-button (click)="goBack()">
          <ion-icon class="atras-button" name="arrow-back"></ion-icon>
        </button></ion-buttons>
      <ion-title>{{ 'reporte_titulo' | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card class="img-top">
      <img src="assets/img/IMG_3.png" />
      <!-- <div class="card-subtitle">¿HAS TENIDO UNA AVERÍA?</div> -->
    </ion-card>
  
    <div class="fondo">
  
      <div class="wrap">
        <div class="links">
          <div class="dot"></div>
          <div class="dota"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
      </div>
  
      <div text-center>
        <ion-label class="lbl-paso"> {{ 'paso' | translate }} 2 </ion-label>
      </div>
  
      <div class="botones-nav">
        <button ion-button class="btn-anterior" (click)="anterior()">{{ 'anterior' | translate }}</button>
        <button ion-button class="btn-siguiente" (click)="siguiente()">{{ 'siguiente' | translate }}</button>
      </div>
  
      <br>
      <br>
      <div padding class="contenido-asistencia padding-bottom">
        <ion-label class="label-lista">
          {{ 'reporte_motivo' | translate}}
        </ion-label>
        <ion-list class="lista" radio-group >
          <!-- <ion-item *ngFor="let item of neededArray">
            <ion-label>{{item.label}}</ion-label>
            <ion-radio value={{item.code}}></ion-radio>
          </ion-item> -->

          <ion-select [(ngModel)]="mushrooms" > value="brown" okText="Okay" cancelText="Dismiss">

            <ion-select-option *ngFor="let item of neededArray" value="{{item.code}}">{{item.label}}</ion-select-option>

          </ion-select>
        </ion-list>


      </div>
    </div>
  
  
  </ion-content>