    .lista {
       margin-bottom: 60px;
     }
     .btn-siguiente{
       float: right;
     }
     .label-lista{
       font-size: 18px;
     }
   ion-item {
     ion-label{
       white-space: normal;
     }
   }
   