<ion-header>
  <ion-toolbar #navBar hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="goBack()">
        <ion-icon class="atras-button" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'datos_personales_titulo' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="img-top">
    <img src="assets/img/IMG_3.png" />
  </ion-card>
  <div class="fondo">
    <div class="wrap">
      <div class="links">
        <div class="dota"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
    <div text-center>
      <ion-label class="lbl-paso"> {{'paso' | translate}} 1 </ion-label>
    </div>

    <button ion-button class="btn-siguiente" (click)="siguiente()">
      {{'siguiente' | translate}}</button>
    <br>
    <br>
    <div padding class="padding-bottom">
      <form [formGroup]="form">
        <ion-item>
          <ion-label>{{ 'datos_personales_subtitulo' | translate}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked> {{'datos_personales_nombre' |
            translate}}

            <span *ngIf="!form.controls.nombre.valid && intentoGuardar">
              {{'valido' | translate}}

            </span>*</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked> {{'datos_personales_apellidos' |
            translate}}
            <span *ngIf="!form.controls.apellidos.valid && intentoGuardar">
              {{'valido' | translate}}
            </span>*</ion-label>
          <ion-input formControlName="apellidos"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked> {{'datos_personales_telefono' |
            translate}}

            <span *ngIf="!form.controls.telefono.valid && intentoGuardar">
              {{'valido' | translate}}

            </span>*</ion-label>
          <ion-input type="tel" formControlName="telefono"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked> {{'datos_personales_mail' |
            translate}}
          </ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
      </form>
      <br>
      <div>
        <ion-item>
          <ion-label>{{ 'datos_personales_subtitulo2' | translate}}</ion-label>
        </ion-item>
        <form [formGroup]="form2">
          <ion-item *ngIf="!hide_matricula">
            <ion-label color="primary" stacked> {{'matricula' | translate}}
              <span *ngIf="!form2.controls.matricula.valid && intentoGuardar">
                {{'valido' | translate}}

              </span>
              <span *ngIf="!matricula_y_bastidor_requeridos">*</span>*</ion-label>
            <ion-input formControlName="matricula"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked> {{'marca' | translate}}

              <span *ngIf="!form2.controls.marca.valid && intentoGuardar">
                {{'valido' | translate}}

              </span>*</ion-label>
            <ion-input formControlName="marca"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked> {{'modelo' | translate}}

              <span *ngIf="!form2.controls.modelo.valid && intentoGuardar">
                {{'valido' | translate}}

              </span>*</ion-label>
            <ion-input formControlName="modelo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label color="primary" stacked> {{'color' | translate}}

              <span *ngIf="!form2.controls.color.valid && intentoGuardar">
                {{'valido' | translate}}

              </span>*</ion-label>
            <ion-input formControlName="color"></ion-input>
          </ion-item>
          <ion-item *ngIf="!hide_bastidor">
            <ion-label color="primary" stacked> {{'bastidor' | translate}}

              <span *ngIf="!form2.controls.bastidor.valid && intentoGuardar">
                {{'valido' | translate}}</span>
              <span *ngIf="!matricula_y_bastidor_requeridos">*</span>*</ion-label>
            <ion-input formControlName="bastidor"></ion-input>
          </ion-item>
          <ion-item *ngIf="!hide_policy">
            <ion-label color="primary" stacked> {{'datos_vehiculos_poliza' | translate}}

              <span *ngIf="!form2.controls.poliza.valid && intentoGuardar">
                {{'valido' | translate}}

              </span>
              <span *ngIf="!poliza_requerida">*</span>*</ion-label>
            <ion-input formControlName="poliza"></ion-input>
          </ion-item>
          <p>** {{ 'datos_vehiculos_obligatorio' | translate }}</p>
        </form>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>

</ion-content>


<ion-footer>
  <div *ngIf="isShown">
    <button ion-button *ngIf="isShown" class="btn-siguiente2" (click)="siguiente()">
      {{'siguiente' | translate}}</button>
  </div>
</ion-footer>
