<header>

  <div>
    <h1>{{'asistencia_titulo' | translate}}</h1>
  </div>

</header>

<div class="card-background-page" padding>

  <p>{{ 'asistencia_subtitulo' | translate }}
  </p>
  <div class="card" (click)="goToReporte()">
    <img class="card-img" src="assets/img/IMG_3.png" />
    <div class="card-body">
      <div>
        <div class="card-title">{{'asistencia_averia' | translate}}</div>
      </div>
    </div>
  </div>

  <div class="card" (click)="goToAccidente()" *ngIf="!hide_accident">
    <img class="card-img" src="assets/img/IMG_4.png" />
    <div class="card-body">
      <div class="card-title">{{'asistencia_accidente' | translate}}</div>
    </div>
  </div>

  <div class="card" (click)="goToLlamar()" *ngIf="!hide_robbery" class="padding-bottom">
    <img class="card-img" src="assets/img/IMG_5.png" />
    <div class="card-body">
      <div class="card-title">{{'asistencia_robo' | translate}}</div>
    </div>
  </div>
  <!-- Eliminar despues -->
  <div class="card" routerLink="/datos-personales" *ngIf="!hide_robbery" class="padding-bottom">
    <img class="card-img" src="assets/img/IMG_5.png" />
    <div class="card-body">
      <div class="card-title">Datos personales</div>
    </div>
  </div>

  <small>This site is protected by reCAPTCHA and the Google
    <a href="https://policies.google.com/privacy">Privacy Policy</a> and
    <a href="https://policies.google.com/terms">Terms of Service</a> apply.
  </small>
  <div class="divPre">
    <b>{{ pais }} - PRE</b>
  </div>
  <br>
  <br>
  <br>
  <br>


  <script>
    var datalayer = {
      idUser: 'undefined',
      title: 'miAsistencia',
      dispositivo: 'undefined'
    };
    // window.addEventListener('click', function(event) {
    //   console.log("CLICK", event)
    // }, false);

  </script>

</div>
