
        .card {
            margin-top: 20px;
            position: relative;
            
          }
      
          p{
            margin: 0px 10px;
            @media (min-width:600px) {
              font-size: 2em;
            }
          }
          
          .divPre{
            float: right !important;
            font-size: large !important;
            padding-right: inherit !important;
            color: black;
          }
      
        //   .card-title {
        //     position: absolute;
        //     top: 20%;
        //     font-size: 1.3em;
        //     width: 100%;
        //     color: #fff;
        //     //LOOK&FEEL FEDPA
        //    /* color: black;
        //     background-color: hsla(0, 0%, 60%, 0.2);*/
        //     }
      
          .oscurecer {
            background-color: rgba(0,0,0,0.3);
            position: absolute;
            top: 0%;
            width: 100%;
            height: 100%;
            margin-top: 0%;
            }

        
      
          re-captcha{
            display: none !important;
          }  