$variantPrimary:                #56698F;
$variantSecondary:              #6F7273;
$variantSecondary60:              #64646499;
$variantSecondary30:              #6464644d;
$variantSecondary15:              #64646426;
$variantTertiary:               #da453e;
$variantBackground:             #fff;
$variantBackgroundSecondary:       #fff;

$fontUrl: url('../assets/fuentes/custom-font.ttf');